# compile files
pcalc
*.o
*.exe

# files parser and lekser
pcalc.c
pcalcl.c
pcalc.h
pcalc.tab.h
pcalc.output

# temp files
*.tmp
*.swp
*~

# dir build
build/
dist/
*.dSYM/

# back files
*.bak
*.backup
